{% extends 'layouts/application.html' %}

{% block content %}
<div class="main-menu__wrapper">
    <nav class="main-menu">
        <div class="container">
            <ul class="main-menu-list">
                <li class="main-menu-item menu-mobile-glister-first-fix"><a href="#smart-sonic"
                                                                            class="js-scroll-to">Режимы
                    работы glister™ SMART SONIC</a></li>
                <li class="main-menu-item menu-mobile-glister-fix"><a href="#smile"
                                                                      class="js-scroll-to">Ослепительная
                    улыбка
                    Glister™</a></li>
                <li class="main-menu-item menu-mobile-recommendation-fix"><a href="#recommendation"
                                                                             class="js-scroll-to">Рекомендации
                    эксперта</a></li>
                <li class="main-menu-item menu-mobile-recommendation-fix only-abo"><a
                        href="#bussines"
                        class="js-scroll-to">Развитие
                    бизнеса с Glister</a></li>
                <li class="main-menu-item menu-mobile-recommendation-fix"><a href="#faq"
                                                                             class="js-scroll-to">Часто
                    задаваемые
                    вопросы</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="main-container">
    <div class="container">
        <div class="characteristics-container">
            <img src="./images/glister-logo.svg" class="logo" alt="">
            <p class="header-description">
                Glister Smart Sonic
            </p>
            <p class="header-description">
                Умная щетка для ослепительной улыбки
            </p>
            <div class="characteristics-wrap">
                <div class="characteristics-row">
                    <div class="characteristics"><img src="./images/speed-of-movement.svg" alt="">
                        <p>До 35 000 движений <br> в минуту</p>
                    </div>
                    <div class="characteristics"><img src="./images/modes.svg" alt="">
                        <p>5 режимов чистки</p>
                    </div>
                    <div class="characteristics"><img src="./images/synchronization.svg" alt="">
                        <p>Синхронизация <br> с приложением</p>
                    </div>
                </div>
                <div class="characteristics-row">
                    <div class="characteristics"><img src="./images/toothbrush-head.svg" alt="">
                        <p>Индикатор замены <br> насадки</p>
                    </div>
                    <div class="characteristics"><img src="./images/indicator.svg" alt="">
                        <p>Таймер, контролирующий продолжительность чистки</p>
                    </div>
                    <div class="characteristics"><img src="./images/waterproof.svg" alt="">
                        <p>Высокий уровень <br> защиты от воды IPX7</p>
                    </div>
                </div>
            </div>
            <div class="btn-container">
                <a href="https://www.amway.ru/product/302728,glistertm-smart-sonic-elektricheskaya-zubnaya-schetka"
                   class="buy-btn" target="_blank">Купить</a>
                <a href="https://www.youtube.com/watch?&v=YKn21UI1rWE" class="show-btn"
                   target="_blank">Посмотреть
                    ролик</a>
                <!--<a href="#" class="download-btn">Скачать</a>-->
            </div>
        </div>
    </div>
</div>

<div id="smart-sonic" class="js-appear hide-anim brush-operation-modes">
    <div class="container container-text">
        <h3 class="brush-operation-modes-header">РЕЖИМЫ РАБОТЫ glister™ SMART SONIC</h3>
        <p class="brush-operation-modes-description">Внесите в приложение GLISTER™ Smart данные о
            состоянии ваших зубов,
            степени их белизны, привычках и предпочтениях в еде. На основе этих данных приложение
            порекомендует вам один из
            5 режимов работы щетки и будет автоматически включать ее в этом режиме.</p>
    </div>

    <div class="container">
        <div class="brush-operation-modes-slider">
            <div class="operation-mode w-460 blue-gradient slide-item"><h4 class="mode-header">Clean
                — Чистка</h4>
                <p class="mode-description">В этом режиме щетка совершает 34 800 движений в минуту,
                    эффективно удаляя остатки пищи и зубной налет. Ежедневная чистка зубов
                    электрической щеткой с пастой Glister™ препятствует образованию кариеса и
                    способствует отбеливанию зубов.</p></div>
            <div class="operation-mode w-370 skin-gradient slide-item"><h4 class="mode-header">White
                — Отбеливание</h4>
                <p class="mode-description">Двигаясь со скоростью 33 000–40 000 движений в минуту,
                    щетка удаляет пятна от табака, кофе и другие загрязнения зубной эмали.
                    Используйте этот режим по необходимости.</p></div>
            <div class="operation-mode w-340 purple-gradient slide-item"><h4 class="mode-header">
                Polish — Полировка</h4>
                <p class="mode-description">Активируйте этот режим, чтобы придать улыбке
                    исключительный блеск, а зубам – гладкость.</p></div>
            <div class="operation-mode w-370 skin-gradient slide-item"><h4 class="mode-header">Soft
                — Деликатная чистка</h4>
                <p class="mode-description">Щетка мягко удаляет зубной налет, не только очищая зубы,
                    но и ухаживая за деснами. Подходит для ежедневного применения обладателям
                    чувствительных зубов и десен.</p></div>
            <div class="operation-mode w-450 green-gradient slide-item"><h4 class="mode-header">
                Sensitive — Повышенная чувствительность</h4>
                <p class="mode-description">
                    Двигаясь медленнее – 28 200 движений в минуту – щетка аккуратно ухаживает за
                    чувствительными деснами и предотвращает кровотечения. Клинические исследования*
                    подтвердили, что режим Sensitive позволяет снизить травимирующий момент при
                    чистке зубов с повышенной чувствительностью.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="js-appear hide-anim mobile-app-container-wrap">
    <div class="container mobile-app-container container-text">
        <div class="mobile-app-description">
            <h3 class="mobile-app-header">Мобильное приложение glister™ Smart</h3>
            <ul class="mobile-app-list">
                <li class="mobile-app-list-item">порекомендует один из 5 режимов чистки в
                    зависимости от введенных вами
                    персональных данных о состоянии ваших зубов, степени белизны, привычках и
                    предпочтениях в еде
                </li>
                <li class="mobile-app-list-item">упростит и повысит эффективность чистки зубов,
                    последовательно сообщая какую
                    зону и как нужно чистить, а также засекая время чистки и сообщая о неверно
                    выбранной зоне
                </li>
                <li class="mobile-app-list-item">сообщит о зонах, которые не были охвачены и требуют
                    повторной чистки
                </li>
                <li class="mobile-app-list-item">сохранит в истории вашу статистику чисток зубов,
                    мотивируя каждый день улучшать
                    результат
                </li>
                <li class="mobile-app-list-item">поможет установить желаемую продолжительность чисти
                    от 1.5 до 3 мин
                </li>
            </ul>
            <a href="https://itunes.apple.com/ru/app/glister-smart/id1435143755?mt=8"
               target="_blank" class="app-store-btn"><img src="./images/app-store.svg" alt=""></a>
            <a href="https://play.google.com/store/apps/details?id=com.youhong.glister"
               class="google-play-btn"><img src="./images/google-play.svg" alt=""></a>
        </div>
        <img class="iphone-image" src="./images/app.png" alt="">
        <img class="iphone-image-mobile" src="./images/app-without-toothbrush.png" alt="">
    </div>
</div>

<div id="smile" class="js-appear hide-anim product-lines">
    <div class="container container-text">
        <h3 class="product-line-header">Ослепительная улыбка с glister™ </h3>
        <p class="product-line-description">Повысить эффективность ухода за полостью рта поможет
            линия средств Glister™</p>
    </div>
    <div class="container container-text">
        <ul class="hidden-xs care-products-list">
            <li class="care-product"><a
                    href="https://www.amway.ru/product/100957,zubnye-schetki-glister-universalynye?livesearch_phrase=%D1%89%D0%B5%D1%82%D0%BA%D0%B8&livesearch_count=2#.W65FlSomxBw"
                    target="_blank">
                <div class="zoom-wrap">
                    <img src="./images/toothbrush.jpg" alt="">
                </div>
                <p>Зубные щетки универсальные</p>
            </a></li>
            <li class="care-product"><a
                    href="https://www.amway.ru/product/6833,glister-mnogofunktsionalynaya-zubnaya-pasta#.W65FriomxBw"
                    target="_blank">
                <div class="zoom-wrap">
                    <img src="./images/toothpaste.jpg" alt="">
                </div>
                <p>Зубная паста</p>
            </a></li>
            <li class="care-product"><a
                    href="https://www.amway.ru/product/120351,sprey-osvezhitely-polosti-rta-s-zapakhom-myaty-glister#.W65GFComxBw"
                    target="_blank">
                <div class="zoom-wrap">
                    <img src="./images/spray.jpg" alt="">
                </div>
                <p>Спрей-освежитель полости рта</p>
            </a></li>
            <li class="care-product"><a
                    href="https://www.amway.ru/product/0994,zubnaya-nity-glister#.W65GOSomxBw"
                    target="_blank">
                <div class="zoom-wrap">
                    <img src="./images/dental-floss.jpg" alt="">
                </div>
                <p>Зубная нить</p>
            </a></li>
            <li class="care-product"><a
                    href="https://www.amway.ru/product/9949,kontsentrirovannaya-zhidkosty-dlya-poloskaniya-polosti-rta-glister#.W65GSiomxBw"
                    target="_blank">
                <div class="zoom-wrap">
                    <img src="./images/mouthwash.jpg" alt="">
                </div>
                <p>Концентрированная жидкость для полоскания полости рта</p>
            </a></li>
        </ul>
    </div>
    <ul class="mobile-only care-products-list care-slider">
        <li class="care-product"><a
                href="https://www.amway.ru/product/100957,zubnye-schetki-glister-universalynye?livesearch_phrase=%D1%89%D0%B5%D1%82%D0%BA%D0%B8&livesearch_count=2#.W65FlSomxBw"
                target="_blank"><img
                src="./images/toothbrush.jpg" alt="">
            <p>Зубные щетки универсальные</p>
        </a></li>
        <li class="care-product"><a
                href="https://www.amway.ru/product/6833,glister-mnogofunktsionalynaya-zubnaya-pasta#.W65FriomxBw"
                target="_blank"><img
                src="./images/toothpaste.jpg" alt="">
            <p>Зубная паста</p>
        </a></li>
        <li class="care-product"><a
                href="https://www.amway.ru/product/120351,sprey-osvezhitely-polosti-rta-s-zapakhom-myaty-glister#.W65GFComxBw"
                target="_blank"><img
                src="./images/spray.jpg" alt="">
            <p>Спрей-освежитель полости рта</p>
        </a></li>
        <li class="care-product"><a
                href="https://www.amway.ru/product/0994,zubnaya-nity-glister#.W65GOSomxBw"
                target="_blank"><img
                src="./images/dental-floss.jpg" alt="">
            <p>Зубная нить</p>
        </a></li>
        <li class="care-product"><a
                href="https://www.amway.ru/product/9949,kontsentrirovannaya-zhidkosty-dlya-poloskaniya-polosti-rta-glister#.W65GSiomxBw"
                target="_blank"><img
                src="./images/mouthwash.jpg" alt="">
            <p>Концентрированная жидкость для полоскания полости рта</p>
        </a></li>
    </ul>

</div>


<div id="recommendation" class="js-appear hide-anim recommendations-container">
    <div class="container container-text">
        <h3 class="recommendations-container-header">Рекомендации эксперта</h3>
    </div>

    <div class="container">
        <div class="recommendations-slider">
            <div class="recommendation w-460 green-gradient slide-item">
                <h4 class="recommendations-header">Как долго чистить зубы?</h4>
                <p class="recommendations-description">Специалисты рекомендуютчистить зубы не менее
                    2 минут,
                    чтобы фторид, содержащийся в зубной пасте, успел
                    воздействовать на эмаль зубов и укрепить ее.
                </p>
            </div>
            <div class="recommendation w-420 yellow-gradient slide-item">
                <img class="recommendation-top-icon" src="./images/brush.svg" alt="">
                <h4 class="recommendations-header">Почему нужно чистить зубы не 2, а 3 раза в
                    день?</h4>
                <p class="recommendations-description">Между утренней и вечерней процедурами чистки
                    зубов в полости рта
                    скапливается около 800 миллионов бактерий! Поэтому постарайтесь в середине дня
                    пару минут почистить зубы
                    неабразивной зубной пастой, чтобы удалить остатки пищи и бактерии. И не забудьте
                    про десны!
                </p>
            </div>
            <div class="recommendation grey-gradient w-350">
                <img class="recommendation-top-icon" src="./images/tooth.svg" alt="">
                <h4 class="recommendations-header">Как сберечь эмаль?</h4>
                <p class="recommendations-description">Избегайте слишком холодных и горячих
                    напитков, так как это приводит к
                    появлению микротрещин в эмали и последующему развитию кариеса.</p>
            </div>
            <div class="recommendation grey-gradient w-350">
                <img class="recommendation-top-icon" src="./images/moon.png" alt="">
                <h4 class="recommendations-header">Как сохранить свежее дыхание?</h4>
                <p class="recommendations-description">
                    Помните, что для эффективного очищения полости рта недостаточно просто почистить
                    зубы щеткой и пастой.
                    Только используя зубную нить, можно очистить зубы с внутренних
                    сторон и предотвратить скопление бактерий между зубами. Жидкость для полоскания
                    рта очищает те области, которые недосягаемы для щетки и зубной нити, а также
                    укрепляет эмаль и защищает зубы от кариеса.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="js-appear hide-anim right-care-container">
    <div class="container container-text">
        <h3 class="right-care-container-header">Правильный уход за вашей улыбкой</h3>
    </div>

    <div class="container container-text">
        <div class="right-care-slider">
            <div class="right-care w-t-300"><h4 class="right-care-header">Осторожно вставьте насадку
                в корпус зубной щетки.</h4>
                <p class="right-care-description">Между насадкой и корпусом должен оставаться
                    небольшой зазор, необходимый для нормальной вибрации.</p></div>
            <div class="right-care w-t-270"><h4 class="right-care-header">Выдавите на щетку порцию с
                небольшую горошину.</h4>
                <p class="right-care-description">Не используйте больше пасты, чем это действительно
                    необходимо.</p></div>
            <div class="right-care w-t-370"><h4 class="right-care-header">Поместите чистящую головку
                в полость рта</h4>
                <p class="right-care-description">Только после этого включайте щетку. Если в
                    процессе чистки возникают неприятные ощущения, попытайтесь перемещать щетку
                    осторожнее, используя только круговые движения.</p></div>
            <div class="right-care w-t-520">
                <h4 class="right-care-header">Нажимая на клавишу включения, <br>выберите нужный
                    режим чистки.</h4>
                <p class="right-care-description">Через каждые 30 секунд после включения щетка
                    делает короткие паузы, сообщая о достаточном времени чистки одной зоны полости
                    рта. Через 2 минуты щетка автоматически останавливается. При необходимости
                    запустите щетку повторно.</p>
            </div>
            <div class="right-care w-t-520">
                <h4 class="right-care-header">По окончании процедуры промойте щетку чистой <br>проточной
                    водой в течение нескольких секунд.</h4>
                <p class="right-care-description">
                    Если вы плохо промоете щетку, оставшиеся на щетинках бактерии могут попасть в
                    ротовую полость при следующем использовании. Поместите зубную щетку в такое
                    место, где она быстро высохнет. В противном случае число бактерий на ней может
                    увеличиться.
                </p>
            </div>
            <div class="right-care w-t-520">
                <h4 class="right-care-header">
                    Используйте зубную нить Glister™ для удаления налета,
                    остатков пищи и загрязнений между зубами.
                </h4>
                <p class="right-care-description">
                    Она легко проникает в самые тесные промежутки! Чтобы не повредить десны,
                    действуйте осторожно, без чрезмерных усилий.
                </p>
            </div>
            <div class="right-care w-t-520">
                <h4 class="right-care-header">
                    Завершите чистку зубов с помощью Концентрированной
                    жидкости для полоскания полости рта Glister™
                </h4>
                <p class="right-care-description">
                    Она уменьшает количество бактериального налета не только на зубах, но и на
                    деснах. Разведите жидкость в мерном колпачке, наберите немного в рот,
                    прополоскайте в течение 30 секунд. Не проглатывайте!
                </p>
            </div>
        </div>
    </div>

    <div class="glister-smart-sonic js-appear hide-anim">
        <div class="container glister-smart-sonic__container">
            <div class="glister-smart-sonic__text">
                <div class="glister-smart-sonic__title-wrapper">
                    <div class="glister-smart-sonic__title">
                        glister™ Smart sonic
                    </div>
                    <div class="glister-smart-sonic__subtitle">
                        Умная щетка для ослепительной улыбки
                    </div>
                </div>
                <div class="glister-smart-sonic__video">
                    <a href="https://www.youtube.com/watch?v=YKn21UI1rWE" target="_blank">
                        <img src="./images/play.png" alt=""/>
                    </a>
                    <div class="glister-smart-sonic__video-title">
                        <a href="https://www.youtube.com/watch?v=YKn21UI1rWE" target="_blank">Смотреть
                            видео</a>
                    </div>
                </div>
            </div>
            <div class="
              glister-smart-sonic__image">
                <img src="./images/glister-front.png" alt=""/>
            </div>
        </div>
    </div>

    <div id="bussines" class="glister-bussines  js-appear hide-anim only-abo">
        <div class="container">
            <div class="container container-text">
                <h3 class="product-line-header">Развитие бизнеса с Glister</h3>
                <p class="product-line-description">Промо-материалы в высоком разрешении в поддержку
                    продукта Glister
                </p>
            </div>
            <div class="container">
                <div class="recommendations-slider image-gallery">
                    <div class="recommendation image-gallery__item slide-item">
                        <img src="./images/previews/BIV_8216.jpg"/>
                        <div class="btn-container">
                            <a href="https://amway.ru/_file/DOBRO/GLISTER/BIV_8216.jpg" download
                               target="_blank"
                               class="buy-btn image-gallery__item-btn">Скачать</a>
                        </div>
                    </div>
                    <div class="recommendation image-gallery__item slide-item">
                        <img src="./images/previews/BIV_8278.jpg"/>
                        <div class="btn-container">
                            <a href="https://amway.ru/_file/DOBRO/GLISTER/BIV_8278.jpg" download
                               target="_blank"
                               class="buy-btn image-gallery__item-btn">Скачать</a>
                        </div>
                    </div>
                    <div class="recommendation image-gallery__item slide-item">
                        <img src="./images/previews/BIV_8299.jpg"/>
                        <div class="btn-container">
                            <a href="https://amway.ru/_file/DOBRO/GLISTER/BIV_8299.jpg" download
                               target="_blank"
                               class="buy-btn image-gallery__item-btn">Скачать</a>
                        </div>
                    </div>
                    <div class="recommendation image-gallery__item slide-item">
                        <img src="./images/previews/BIV_8307.jpg"/>
                        <div class="btn-container">
                            <a href="https://amway.ru/_file/DOBRO/GLISTER/BIV_8307.jpg" download
                               target="_blank"
                               class="buy-btn image-gallery__item-btn">Скачать</a>
                        </div>
                    </div>
                    <div class="recommendation image-gallery__item slide-item">
                        <img src="./images/previews/BIV_8326.jpg"/>
                        <div class="btn-container">
                            <a href="https://amway.ru/_file/DOBRO/GLISTER/BIV_8326.jpg" download
                               target="_blank"
                               class="buy-btn image-gallery__item-btn">Скачать</a>
                        </div>
                    </div>
                    <div class="recommendation image-gallery__item slide-item">
                        <img src="./images/previews/BIV_8487.jpg"/>
                        <div class="btn-container">
                            <a href="https://amway.ru/_file/DOBRO/GLISTER/BIV_8487.jpg" download
                               target="_blank"
                               class="buy-btn image-gallery__item-btn">Скачать</a>
                        </div>
                    </div>
                    <div class="recommendation image-gallery__item slide-item">
                        <img src="./images/previews/BIV_8538.jpg"/>
                        <div class="btn-container">
                            <a href="https://amway.ru/_file/DOBRO/GLISTER/BIV_8538.jpg" download
                               target="_blank"
                               class="buy-btn image-gallery__item-btn">Скачать</a>
                        </div>
                    </div>
                    <div class="recommendation image-gallery__item slide-item">
                        <img src="./images/previews/BIV_8571.jpg"/>
                        <div class="btn-container">
                            <a href="https://amway.ru/_file/DOBRO/GLISTER/BIV_8571.jpg" download
                               target="_blank"
                               class="buy-btn image-gallery__item-btn">Скачать</a>
                        </div>
                    </div>
                    <div class="recommendation image-gallery__item slide-item">
                        <img src="./images/previews/BIV_8603.jpg"/>
                        <div class="btn-container">
                            <a href="https://amway.ru/_file/DOBRO/GLISTER/BIV_8603.jpg" download
                               target="_blank"
                               class="buy-btn image-gallery__item-btn">Скачать</a>
                        </div>
                    </div>
                    <div class="recommendation image-gallery__item slide-item">
                        <img src="./images/previews/BIV_8637.jpg"/>
                        <div class="btn-container">
                            <a href="https://amway.ru/_file/DOBRO/GLISTER/BIV_8637.jpg" download
                               target="_blank"
                               class="buy-btn image-gallery__item-btn">Скачать</a>
                        </div>
                    </div>
                    <div class="recommendation image-gallery__item slide-item">
                        <img src="./images/previews/BIV_8637.jpg"/>
                        <div class="btn-container">
                            <a href="https://amway.ru/_file/DOBRO/GLISTER/BIV_8637.jpg" download
                               target="_blank"
                               class="buy-btn image-gallery__item-btn">Скачать</a>
                        </div>
                    </div>
                    <div class="recommendation image-gallery__item slide-item">
                        <img src="./images/previews/BIV_8672.jpg"/>
                        <div class="btn-container">
                            <a href="https://amway.ru/_file/DOBRO/GLISTER/BIV_8672.jpg" download
                               target="_blank"
                               class="buy-btn image-gallery__item-btn">Скачать</a>
                        </div>
                    </div>
                    <div class="recommendation image-gallery__item slide-item">
                        <img src="./images/previews/BIV_8682.jpg"/>
                        <div class="btn-container">
                            <a href="https://amway.ru/_file/DOBRO/GLISTER/BIV_8682.jpg" download
                               target="_blank"
                               class="buy-btn image-gallery__item-btn">Скачать</a>
                        </div>
                    </div>
                    <div class="recommendation image-gallery__item slide-item">
                        <img src="./images/previews/BIV_8696.jpg"/>
                        <div class="btn-container">
                            <a href="https://amway.ru/_file/DOBRO/GLISTER/BIV_8696.jpg" download
                               target="_blank"
                               class="buy-btn image-gallery__item-btn">Скачать</a>
                        </div>
                    </div>
                    <div class="recommendation image-gallery__item slide-item">
                        <img src="./images/previews/BIV_8718.jpg"/>
                        <div class="btn-container">
                            <a href="https://amway.ru/_file/DOBRO/GLISTER/BIV_8718.jpg" download
                               target="_blank"
                               class="buy-btn image-gallery__item-btn">Скачать</a>
                        </div>
                    </div>
                    <div class="recommendation image-gallery__item slide-item">
                        <img src="./images/previews/BIV_8725.jpg"/>
                        <div class="btn-container">
                            <a href="https://amway.ru/_file/DOBRO/GLISTER/BIV_8725.jpg" download
                               target="_blank"
                               class="buy-btn image-gallery__item-btn">Скачать</a>
                        </div>
                    </div>
                    <div class="recommendation image-gallery__item slide-item">
                        <img src="./images/previews/BIV_8801.jpg"/>
                        <div class="btn-container">
                            <a href="https://amway.ru/_file/DOBRO/GLISTER/BIV_8801.jpg" download
                               target="_blank"
                               class="buy-btn image-gallery__item-btn">Скачать</a>
                        </div>
                    </div>
                    <div class="recommendation image-gallery__item slide-item">
                        <img src="./images/previews/BIV_8828.jpg"/>
                        <div class="btn-container">
                            <a href="https://amway.ru/_file/DOBRO/GLISTER/BIV_8828.jpg" download
                               target="_blank"
                               class="buy-btn image-gallery__item-btn">Скачать</a>
                        </div>
                    </div>
                    <div class="recommendation image-gallery__item slide-item">
                        <img src="./images/previews/BIV_8874.jpg"/>
                        <div class="btn-container">
                            <a href="https://amway.ru/_file/DOBRO/GLISTER/BIV_8874.jpg" download
                               target="_blank"
                               class="buy-btn image-gallery__item-btn">Скачать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container presentations js-appear hide-anim only-abo">
        <div class="presentations-wrapper">
            <div class="presentations-item">
                <div class="presentations-item__image">
                    <img src="./images/smm.png"/>
                </div>
                <div class="presentations-item__text">
                    <div class="presentations-item__title">Примеры постов для размещения в
                        социальных сетях.
                    </div>
                    <div class="presentations-item__btn">
                        <div class="btn-container">
                            <a href="https://amway.ru/_cms-fileserver/item/1503592" class="buy-btn"
                               tabindex="0" download target="_blank">Скачать</a>
                        </div>
                        <span class="file">.pptx 4.2mb</span>
                    </div>
                </div>
            </div>
            <div class="presentations-item">
                <div class="presentations-item__image">
                    <img src="./images/promo.png"/>
                </div>
                <div class="presentations-item__text">
                    <div class="presentations-item__title">Примеры постов для размещения в
                        социальных сетях.
                    </div>
                    <div class="presentations-item__btn">
                        <div class="btn-container">
                            <a href="https://amway.ru/_cms-fileserver/item/1503593" class="buy-btn"
                               tabindex="0" download target="_blank">Скачать</a>
                        </div>
                        <span class="file">.pptx 2.2mb</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container  js-appear hide-anim only-abo">
        <div class="glister-videos row">
            <div class="glister-videos__item col-md-3">
                <div class="glister-videos__item-image">
                    <img src="./images/v3.jpg" alt="">
                    <div class="btn-container">
                        <a href="https://amway.ru/_cms-fileserver/item/1503612" download
                           target="_blank"
                           class="buy-btn image-gallery__item-btn">Скачать</a>
                    </div>
                </div>
                <div class="glister-videos__item-title">
                    Промо-видео в большом разрешении
                </div>
            </div>
            <div class="glister-videos__item col-md-3">
                <div class="glister-videos__item-image">
                    <img src="./images/v1.jpg" alt="">
                    <div class="btn-container">
                        <a href="https://amway.ru/_cms-fileserver/item/1503613" download
                           target="_blank"
                           class="buy-btn image-gallery__item-btn">Скачать</a>
                    </div>
                </div>
                <div class="glister-videos__item-title">
                    Промо-видео для мессенджеров
                </div>
            </div>
            <div class="glister-videos__item col-md-3">
                <div class="glister-videos__item-image">
                    <img src="./images/v2.jpg" alt="">
                    <div class="btn-container">
                        <a href="https://amway.ru/_cms-fileserver/item/1503614" download
                           target="_blank"
                           class="buy-btn image-gallery__item-btn">Скачать</a>
                    </div>
                </div>
                <div class="glister-videos__item-title">
                    Короткая версия для соц. сетей и мессенджеров
                </div>
            </div>
        </div>
    </div>
    <div id="faq" class="questions  js-appear hide-anim">
        <div class="container">
            <div class="container container-text">
                <h3 class="product-line-header">Часто задаваемые вопросы</h3>
            </div>
            <div class="container">
                <div class="accordion">
                    <h3 class="accordion__title">Каковы основные преимущества электрической зубной
                        щетки Glister Smart Sonic?</h3>
                    <p>
                        1. Электрическая зубная щетка Glister Smart Sonic обеспечивает более
                        качественную чистку по сравнению с
                        обычной зубной щеткой *.
                        <br/><br/>
                        2. Электрическая зубная щетка Glister Smart Sonic имеет пять режимов чистки,
                        включая режим Sensitive,
                        позволяющий снизить травмирующий момент при чистке зубов с повышенной
                        чувствительностью *.
                        * Подтверждено в результате клинических исследований в Центральном
                        научно-исследовательском институте
                        стоматологии и челюстно-лицевой хирургии.
                        <br/><br/>
                        3. География проживания потребителей часто формирует их диету, что напрямую
                        влияет на особенности
                        зубных
                        отложений. Электрическая зубная щетка Glister Smart Sonic прошла клинические
                        испытания непосредственно
                        в
                        России, в Центральном научно-исследовательском институте стоматологии и
                        челюстно-лицевой хирургии.
                        <br/><br/>
                        4. Электрическая зубная щетка Glister Smart Sonic и насадки к ней получили
                        одобрение экспертов
                        Стоматологической Ассоциации России.
                        <br/><br/>
                        5. Электрическая зубная щетка Glister Smart Sonic оснащена новой моделью
                        литий-ионного аккумулятора,
                        которая позволяет сократить время зарядки до 8 часов и увеличить
                        продолжительность работы устройства до
                        4
                        недель (время работы устройства от батареи после полной зарядки в течение 8
                        часов при использовании в
                        режиме Clean по 2 минуты 2 раза в день при соединении с приложением через
                        Bluetooth).
                        <br/><br/>
                        6. Мобильное приложение Glister Smart, синхронизированное с зубной щеткой
                        Glister Smart Sonic через
                        Bluetooth, с помощью встроенных в щетку датчиков точно фиксирует каждое
                        движение щетки и позволяет
                        контролировать качество и продолжительность чистки. Приложение адаптировано
                        для устройств с Android и
                        iOS и
                        доступно на русском и казахском языках.
                        <br/><br/>
                        7. Высокий уровень защиты от воды (IPX7) и индикатор замены насадки создают
                        дополнительные удобства для
                        пользователей устройства, позволяя не опасаться случайного падения щетки в
                        воду и напоминая о
                        необходимости
                        заменить насадку.
                    </p>
                    <h3 class="accordion__title">По какому принципу работает Электрическая зубная
                        щетка Glister Smart Sonic?</h3>
                    <p>
                        Эффективность Электрической зубной щетки Glister Smart Sonic обусловлена
                        высокой частотой вибраций
                        чистящей
                        головки, в результате которых происходит комплексное воздействие на полость
                        рта. Оно складывается из
                        механического разрушения и очищения зубного налета при соприкосновении с
                        движущимися щетинками чистящей
                        головки, а также из так называемого «ирригационного» или эффекта жидкостной
                        динамики «fluid dynamics»:
                        высокая частота вибраций создает разнонаправленные потоки жидкости (смесь
                        слюны, воды и зубной пасты),
                        которые оказывают гидродинамическое давление на колонии микроорганизмов,
                        находящиеся на поверхности
                        зубов.
                        Согласно ряду исследований, такое воздействие может помочь вычищать области
                        в пределах 3 мм, не
                        находящиеся
                        в прямом физическом контакте с чистящей головкой.
                        <br/><br/>
                        Чистящая головка Электрической зубной щетки Glister Smart Sonic способна
                        выполнять до 35 000 движений в
                        минуту, что соответствует ~292 Гц – частоте, лежащей в пределах
                        воспринимаемого человеческим ухом
                        звукового
                        диапазона 20–20000 ГЦ. Это в 100 раз больше, чем количество движений,
                        которое совершает человек при
                        использовании мануальной зубной щетки (250-350 в минуту). Данная частота
                        позволяет обеспечить
                        эффективное и
                        бережное очищение полости рта. Заявленные значения подтверждены
                        стробоскопическим и осциллометрическим
                        методами.
                        *Подтверждено в результате клинических исследований – в ЦННИ Стоматологии и
                        Челюстно-лицевой хирургии.
                    </p>

                    <h3 class="accordion__title">В чем отличия электрической зубной щетки Glister
                        Smart Sonic от обычной
                        электрической щетки?</h3>
                    <p>
                        Обычные электрические щетки — это щетки старого поколения. Они не выдают
                        такую высокую частоту
                        вибраций,
                        как электрическая зубная щетка Glister Smart Sonic, также у них не
                        наблюдается так называемый
                        ирригационный
                        эффект, или fluid dynamics (динимики жидкости).
                    </p>

                    <h3 class="accordion__title">В чем отличие чистки зубов электрической зубной
                        щеткой Glister Smart Sonic
                        от
                        ультразвуковой чистки зубов, выполняемой профессиональными
                        стоматологами?</h3>
                    <p>
                        Ультразвуковая чистка зубов выполняется профессиональными стоматологами при
                        помощи ультразвуковых
                        скальперов. Конец скальпера вибрирует с частотой 20–50 КГц, что в потоке
                        жидкости, подаваемой на
                        рабочую
                        поверхность инструмента, создает эффект кавитации. Благодаря этому эффекту
                        возможно выполнять очистку
                        зубов
                        от налета и камня. Частота вибраций электрической зубной щеткой Glister
                        Smart Sonic составляет 290 Гц.
                        Ее
                        вибрации не создают эффекта кавитации и не могут разрушать зубной камень, но
                        такая чистота способствует
                        более качественному очищению зубов от налета и бактерий, что может отсрочить
                        необходимость обращения к
                        стоматологу.
                    </p>

                    <h3 class="accordion__title">В чем заключаются особенности пяти режимов чистки
                        электрической зубной
                        щеткой
                        Glister Smart Sonic?</h3>
                    <p>
                        Режимы Clean, Soft и Sensitive — основные режимы для ежедневного
                        использования. Они имеют постоянную
                        частоту движений и предназначены для людей с различной чувствительностью
                        зубов и десен. Наибольшее
                        количество движений щетинок в минуту чистящая головка будет выполнять в
                        режиме Clean (~35 000). Если
                        пользователь чувствует, что данный режим вызывает дискомфорт, предлагается
                        попробовать режим Soft (32
                        000
                        движений в минуту) или Sensitive (28 000 движений в минуту). Необходимо
                        отметить, что рекомендуемое
                        время
                        ежедневной чистки зубов с использование режима Sensitive может быть
                        увеличено. Следуйте инструкциям в
                        приложении.
                        <br/></br /><br/>
                        Режимы White и Polish являются функциональными и предназначены для
                        нерегулярного использования с целью
                        достижения дополнительной гладкости и белизны зубов. В режиме White щетка
                        будет равномерно увеличивать
                        частоту вибраций головки вплоть до максимальной моментальной частоты — 42
                        000 движений в минуту. В
                        режиме
                        Polish чистящая головка также имеет переменную частоту движений, однако
                        максимальная моментальная
                        частота
                        не превышает 34 000. Для наибольшей эффективности данные режимы
                        рекомендуется использовать в
                        соответствии с
                        инструкциями приложения. Четкое следование инструкциям позволит щетке каждый
                        раз выполнять полный цикл
                        чистки.
                    </p>

                    <h3 class="accordion__title">Есть ли гарантия у моей электрической зубной щетки
                        Glister Smart Sonic?</h3>
                    <p>
                        На электрическую зубную щетку Glister Smart Sonic действует гарантия
                        продолжительностью 1 год с даты
                        покупки. Вы можете наслаждаться своим приобретением, не заботясь о возможных
                        проблемах. Если в течение
                        1
                        года с даты покупки у вас возникли проблемы, например щетка перестала
                        работать, но при этом на ней нет
                        механических повреждений, щетка подлежит замене.
                    </p>
                    <br/>
                    <h3 class="accordion__title">Каков порядок обращения по гарантии?</h3>
                    <p>
                        Если в течение 1 года после покупки вы обнаружили проблемы с качеством
                        работы электрической зубной
                        щетки
                        Glister Smart Sonic, вы можете обратиться в Мой центр Amway или Торговый
                        центр Amway для ее замены.
                        Сдать
                        щетку по гарантии нужно в полной комплектации, приложив заполненный
                        гарантийный талон. На щетке должны
                        отсутствовать любые механические повреждения (сколы, трещины, потертости),
                        все детали должны быть на
                        месте.
                        При наличии некоторыхмеханических повреждений (например,
                        сгоревшего/расплавившегося адаптера) должно
                        быть
                        предоставлено объяснение произошедшего в письменной форме с указанием номера
                        партии продукта. Подобные
                        случаи будут передаваться на дополнительный анализ.
                    </p>

                    <h3 class="accordion__title">Могу ли вернуть назад электрическую зубную щетку
                        Glister Smart Sonic и
                        насадки к
                        ней при отсутствии брака?</h3>
                    <p>
                        Так как электрическая зубная щетка Glister Smart Sonic вместе с запасными
                        насадками к ней является
                        товаром
                        личной гигиены, на нее и детали НЕ распространяется 90-дневная гарантия
                        удовлетворенности качеством
                        Amway —
                        вернуть их вы не сможете.
                    </p>

                    <h3 class="accordion__title">С какого возраста можно пользоваться электрической
                        зубной щеткой Glister
                        Smart
                        Sonic?</h3>
                    <p>
                        Не рекомендуется использовать электрическую зубную щетку Glister Smart Sonic
                        детям до 14 лет, так как
                        щетка
                        и насадки к ней не испытывались на детях до 14 лет.
                    </p>

                    <h3 class="accordion__title">Из какого материала изговлена электрическая зубная
                        щетка Glister Smart Sonic
                        и
                        насадка к ней?</h3>
                    <p>
                        Чистящая головка изготовлена из пищевого АБС-пластика.
                        Щетинки — нейлон.
                        <br/><br/>
                        Основное устройство, зарядная база и адаптер — пропилен карбонат + пищевой
                        АБС-пластик.
                    </p>

                    <h3 class="accordion__title">Если ли противопоказания по использованию
                        электрической зубной щетки Glister
                        Smart Sonic?</h3>
                    <p>
                        Электрической зубной щеткой Glister Smart Sonic не рекомендуется
                        пользоваться тем, у кого установлены
                        ретейнеры, а тем, у кого установлены брекеты, рекомендуется пользоваться
                        щеткой с осторожностью.
                    </p>

                    <h3 class="accordion__title">Как были измерены 35 000 движений электрической
                        зубной щетки Glister Smart
                        Sonic, заявленные на упаковке?</h3>
                    <p>
                        Заявленные значения подтверждены стробоскопическим и осциллометрическим
                        методами.
                    </p>

                    <h3 class="accordion__title">Подойдут ли какие-либо другие насадки для моей
                        электрической зубной щетки
                        Glister Smart Sonic?</h3>
                    <p>
                        Чистящие насадки Glister Smart Sonic имеют уникальный дизайн и не могут быть
                        заменены на чистящие
                        насадки
                        других производителей.
                    </p>

                    <h3 class="accordion__title">Между основанием и чистящей насадкой щетки есть
                        небольшой зазор, нормально
                        ли
                        это?</h3>
                    <p>
                        Небольшой зазор необходим, чтобы позволить чистящей насадке щетки свободно
                        совершать движения,
                        достаточные
                        для обеспечения качественной чистки. Тем не менее чистящая насадка щетки не
                        должна сидеть слишком
                        свободно
                        и скользить по приводному валу во время использования. Если это происходит,
                        рекомендуется установить
                        новую
                        чистящую насадку.
                    </p>

                    <h3 class="accordion__title">Как понять, что пора зарядить электрическую зубную
                        щетку Glister Smart
                        Sonic?</h3>
                    <p>
                        Если щетка разряжается, значок заряда батареи на основании щетки будет
                        гореть красным. Это
                        сигнализирует,
                        что пора зарядить щетку.
                    </p>

                    <h3 class="accordion__title">Что означают разные цвета индикатора заряда батареи
                        на моей электрической
                        зубной
                        щетке Glister Smart Sonic?</h3>
                    <p>
                        Индикатор заряда батареи на вашей щетке имеет следующие режимы.
                        <br/>
                        <br/>
                        • Индикатор, не мигая, горит белым: батарея полностью заряжена.
                        <br/>
                        • Индикатор мигает белым: батарея заряжается.
                        <br/>
                        • Индикатор мигает красным: батарея разряжена, необходимо зарядить щетку при
                        помощи зарядной базы.
                    </p>

                    <h3 class="accordion__title">Как правильно заряжать электрическую зубную щетку
                        Glister Smart Sonic?</h3>
                    <p>
                        1. Подключите зарядное устройство к розетке при помощи адаптера или к
                        другому источнику питания через
                        USB
                        провод.
                        <br/>
                        2. Поместите основание щетки в зарядную базу.
                        <br/>
                        3. Обратите внимание, что для полной зарядки батареи требуется 8 часов.
                        Примечание. Значок заряда батареи на основании щетки мигает белым, когда она
                        заряжается. Когда батарея
                        полностью заряжена, значок на основании щетки перестает мигать и начинает
                        гореть белым.
                    </p>

                    <h3 class="accordion__title">Могу ли я оставлять свою щетку между чистками на
                        зарядной базе?</h3>
                    <p>
                        Зарядную базу рекомендуется подключать к сети только во время зарядки
                        аккумуляторной батареи. В щетке
                        используется литий-ионная батарея, которая не требует эксплуатации в режиме
                        «полная зарядка — полная
                        разрядка», тем не менее постоянное подключение к сети может оказать
                        негативное влияние на емкость
                        батареи.
                    </p>

                    <h3 class="accordion__title">Как долго я могу использовать электрическую зубную
                        щетку Glister Smart Sonic
                        без
                        подзарядки?</h3>
                    <p>
                        Электрическая зубная щетка Glister Smart Sonic имеет очень надежную
                        литий-ионную батарею, которая может
                        работать без подзарядки до 4 недель (время работы устройства от батареи
                        после полной зарядки в течение
                        8
                        часов при использовании в режиме Clean по 2 минуты 2 раза в день при
                        соединении с приложением через
                        Bluetooth).
                    </p>

                    <h3 class="accordion__title">Как установить приложение Glister Smart?</h3>
                    <p>
                        Приложение Glister Smart бесплатное и доступно для скачивания в App Store и
                        Google Play. Его легко
                        найти в
                        поиске по слову glister.
                    </p>

                    <h3 class="accordion__title">Если я удалю или переустановлю приложение Glister
                        Smart, пропадет ли вся моя
                        история чисток?</h3>
                    <p>
                        Если вы удалите приложение, а потом переустановите его на том же или другом
                        смартфоне, при следующем
                        соедининении с щеткой будут востановлены данные ваших последних 120 чисток
                        зубов. Пока вы работаете с
                        приложением в той же стране, в которой вы его загрузили изначально, вы
                        сможете увидеть всю историю
                        ваших
                        чисток.
                    </p>

                    <h3 class="accordion__title">Всегда ли необходимо использовать электрическую
                        зубную щетку Glister Smart
                        Sonic
                        только с приложением?</h3>
                    <p>
                        Электрической зубной щеткой Glister Smart Sonic можно пользоваться без
                        мобильного приложения, но тогда
                        вы
                        не сможете в режиме реального времени следить за качеством чистки ваших
                        зубов и отслеживать охват
                        чисток.
                    </p>

                    <h3 class="accordion__title">Могут ли щеткой пользоваться несколько человек с
                        разных телефонов? Как в
                        этом
                        случае данные о чистках отображаются в приложениях?</h3>
                    <p>
                        Электрической зубной щеткой Glister Smart Sonic может пользоваться несколько
                        человек, но при
                        пользовании
                        щеткой вместе с приложением Glister Smart, даже установленном на разных
                        телефонах, в нем будет
                        отоборажаться общая статистика чисток, так как данные передаются с одной
                        щетки.
                    </p>

                    <h3 class="accordion__title">Как обновить программное обеспечение электрической
                        зубной щетки Glister
                        Smart
                        Sonic?</h3>
                    <p>
                        Инструкции по обновлению прошивки электрической зубной щетки Glister Smart
                        Sonic.
                        <br/><br/>
                        1. Перед обновлением убедитесь, что электрическая зубная щетка Glister Smart
                        Sonic заряжалась не менее
                        15
                        минут, чтобы обеспечить успешную установку.
                        <br/>
                        2. Обновите (или загрузите) последнюю версию приложения Glister Smart из App
                        Store или Google Play.
                        <br/>
                        3. Откройте приложение.
                        <br/>
                        4. Подключите электрическую зубную щетку Glister Smart Sonic к приложению
                        Glister Smart (через
                        Bluetooth).
                        <br/>
                        5. Зайдите в раздел «Настройки». Уведомление «Новая прошивка найдена»,
                        выделенное красным цветом,
                        сообщит,
                        что новое обновление прошивки доступно для скачивания и установки на ваш
                        телефон.
                        <br/>
                        6. Нажмите на пункт меню с выделенным красным уведомлением и далее следуйте
                        инструкциям в приложении
                        для
                        обновления до последней версии прошивки.
                    </p>
                    <h3 class="accordion__title">Водонепроницаема ли электрическая зубная щетка
                        Glister Smart Sonic?</h3>
                    <p>
                        Да, электрическая зубная щетка Glister Smart Sonic водонепроницаема и имеет
                        высокий уровень защиты от
                        воды
                        (IPX7). Однако не следует надолго погружать щетку в воду и мыть ее в
                        посудомоечной машине. Допускается
                        лишь
                        кратковременное (до получаса) погружение на глубину до 1 м.
                    </p>

                    <h3 class="accordion__title">Можно ли использовать приложение Glister Sonic без
                        подключения к сети Wi-Fi?</h3>
                    <p>
                        Для работы приложения Glister Smartc не нужен Wi-Fi, но для подключения
                        щетки к приложению нужно
                        включить
                        Bluetooth.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}