@import "variables";

.container {
  max-width: 1144px;
  margin: 0 auto;
  padding: 0 15px;

  @media #{$m-sm} {
    max-width: 767px;
    padding: 0 20px;
  }
}

.container-text {
  @media #{$m-md} {
    padding: 0 37px;
  }

  @media #{$m-sm} {
    padding: 0 20px;
  }
}

.hidden-xs {
  @media #{$m-xs} {
    display: none!important;
  }
}

.mobile-only {
  display: none;
  
  @media #{$m-xs} {
    display: block;
  }
}