@import "slick";

body {
  margin: 0;
}

#glister {
  @import "variables";
  @import "reset";
  @import "app-main";
  @import "base/typography";

  overflow-x: hidden;
  * {
    font-family: 'Roboto Condensed', Arial, sans-serif;
  }
  .only-abo {
    display: none !important;
  }

  .hide-anim {
    opacity: 0;
    transform: translate(0, 40px);
    transition: opacity .5s, transform .5s;

    &.show {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .main-menu__wrapper {
    min-width: 900px;
    @media #{$m-sm} {
      height: 69px;
      overflow: hidden;
    }
    @media #{m-xs} {
      height: 60px;
    }
  }
  .main-menu {
    display: flex;
    align-items: center;
    height: 69px;
    padding: 0 22px;
    background: #0165A6;

    @media #{$m-sm} {
      height: 89px;
      overflow-y: hidden;
    }

    @media #{$m-xs} {
      padding-left: 0;
    }

    .container {
      @media #{$m-sm} {
        margin-top: -20px;
        padding: 0;
        max-width: 100%;
      }
    }

    .menu-mobile-glister-first-fix {
      @media #{$m-xs} {
        width: 147px;
      }
    }

    .menu-mobile-glister-fix {
      @media #{$m-xs} {
        width: 136px;
      }
    }

    .menu-mobile-recommendation-fix {
      @media #{$m-xs} {
        width: 100px;
      }
    }
  }

  .main-menu-list {
    display: block;
    text-align: center;
    min-width: 474px;

    li {
      max-width: 155px;
      display: inline-block;
      vertical-align: top;
    }
  }

  .main-menu-item {
    &:first-child {
      a {
        padding-left: 0;
      }
    }

    a {
      font-family: 'Roboto Condensed', Arial, sans-serif;
      display: block;
      text-transform: uppercase;
      font-size: 11px;
      line-height: 1.42;
      color: #fff;
      padding: 0 33px;
      border: none;
      outline: none;

      @media #{$m-sm} {
        padding: 0 14px;
      }

      @media #{$m-xs} {
        padding: 0 8px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .main-container {
    background: url("../images/hero-bg-2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 0 50px;
    margin-bottom: 81px;

    @media #{$m-sm} {
      padding: 25px 0 40px;
      margin-bottom: 40px;
    }

    @media #{$m-sm} {
      padding: 25px 0;
    }
  }

  .characteristics-container {
    display: flex;
    max-width: 490px;
    flex-direction: column;
    margin-left: auto;

    @media #{$m-sm} {
      max-width: 385px;
    }

    @media #{$m-xs} {
      max-width: 165px;
    }

    img.logo {
      width: 130px;
      margin-bottom: 15px;

      @media #{$m-sm} {
        width: 71px;
        margin-bottom: 10px;
      }
    }

    .header-description {
      font: 700 20px/1.5 'Roboto Condensed', Arial, sans-serif;
      color: #1f4f85;
      text-transform: uppercase;

      @media #{$m-sm} {
        font-size: 16px;
      }

      &:last-of-type {
        margin-bottom: 40px;

        @media #{$m-sm} {
          margin-bottom: 25px;
        }
      }
    }
  }

  .characteristics-wrap {
    position: relative;
    left: -20px;
  }

  .characteristics-row {
    display: flex;
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 40px;
    }

    @media #{$m-xs} {
      display: none;
    }
  }

  .characteristics {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 33.3333333%;

    img {
      width: 78px;
      margin-bottom: 10px;

      @media #{$m-sm} {
        width: 50px;
        margin-bottom: 7px;
      }
    }

    p {
      font: 400 14px/1.28 'Roboto Condensed', Arial, sans-serif;
      text-align: center;
      color: #1f4f85;

      @media #{$m-sm} {
        font-size: 11px;
      }
    }
  }

  .btn-container {
    display: flex;
    padding-left: 4px;
    a {
      font: 400 16px/1.25 'Roboto Condensed', Arial, sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      padding: 0 15px;
      border-radius: 7px;
      font-size: 16px;
      margin-left: 20px;

      @media #{$m-sm} {
        font-size: 11px;
      }

      &:after {
        content: '';
        width: 14px;
        height: 14px;
        background: url("../images/arrows-white.svg") no-repeat;
        margin-left: 5px;
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }

  .buy-btn, .show-btn, .download-btn {
    transition: all ease .2s;
  }

  .buy-btn {
    background: #369BEA;
    color: #fff;
    height: 38px;

    &:hover, &:focus {
      background: #2381CB;
    }
  }

  a.show-btn {
    background: #89C37D;
    color: #fff;

    &:hover, &:focus {
      background: #61A453;
    }

    @media #{$m-xs} {
      display: none;
    }
  }

  a.download-btn {
    background: transparent;
    color: #369BEA;
    border: 1px solid #369BEA;

    &:hover, &:focus {
      border-color: #2381CB;
      background: #2381CB;
      color: #fff;

      &:after {
        background-image: url("../images/arrows-white.svg");
      }
    }

    @media #{$m-xs} {
      display: none;
    }

    &:after {
      transition: background-image ease .2s;
      background-image: url("../images/arrows-blue.svg");
    }
  }

  .brush-operation-modes {
    margin-bottom: 90px;

    @media #{$m-sm} {
      margin-bottom: 40px;
    }
  }

  .brush-operation-modes-header {
    font: 700 26px/1.77 'Roboto Condensed', Arial, sans-serif;
    color: #1F4F85;
    margin-bottom: 23px;

    @media #{$m-sm} {
      font-size: 20px;
      margin-bottom: 6px;
    }
  }

  .brush-operation-modes-description {
    font-size: 16px;
    line-height: 1.5;
    color: #35373D;
    max-width: 663px;
    margin-bottom: 44px;

    @media #{$m-sm} {
      font-size: 14px;
      margin-bottom: 30px;
    }
  }
  .product-lines {
    .slick-dots {
      margin-top: -20px;
    }
  }
  .slick-dots {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 14px;

    li {
      float: left;
      vertical-align: top;

      &.slick-active {
        button:before {
          background: #369BEA;
        }
      }
    }
    button {
      width: 24px;
      height: 24px;
      color: transparent;
      font-size: 0;
      line-height: 0;
      display: block;
      position: relative;

      &:before {
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #C4C4C4;
        transition: background .25s;
      }
    }
  }

  .brush-operation-modes-slider {
    width: calc(100vw + 37px);
    margin-left: -37px;

    .slick-list {
      overflow: initial;
    }

    @media #{$m-md} {
      margin-left: 0;
    }

    @media #{$m-sm} {
      margin-left: 0;
      width: calc(100vw - 20px);
    }

    .slick-slide {
      margin: 0 10px;

      @media #{$m-sm} {
        margin: 0 7.5px;
      }
    }
  }

  .mode-header {
    font: 400 26px/1.38 'Roboto Condensed', Arial, sans-serif;
    font-size: 26px;
    color: #494a49;
    margin-bottom: 20px;

    @media #{$m-sm} {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 8px;
    }
  }

  .operation-mode {
    border-radius: 20px;
    margin-left: 20px;
    flex-shrink: 0;
    &:first-child {
      margin-left: 0;
    }
  }

  .mode-description {
    font-size: 16px;
    line-height: 1.5;
    color: #35373d;

    @media #{$m-sm} {
      font-size: 14px;
    }
  }

  .slide-item {
    padding: 35px 27px 35px 37px;
    @media #{$m-md} {
      padding-left: 27px;
    }
    @media #{$m-sm} {
      padding: 25px;
    }
  }

  .mobile-app-container-wrap {
    background: #AFF1C0;
  }

  .mobile-app-container {
    display: flex;
    padding-top: 70px;
    margin-bottom: 90px;
    overflow: hidden;

    @media #{$m-sm} {
      padding-top: 40px;
      margin-bottom: 50px;
    }
  }

  .mobile-app-description {
    width: 51%;
    margin-right: 120px;
    margin-bottom: 75px;

    @media #{$m-sm} {
      width: initial;
      margin-bottom: 30px;
      margin-right: 15px;
    }
  }

  .iphone-image-mobile {
    display: none;
  }

  .iphone-image-mobile {
    align-self: flex-end;

    @media #{$m-sm} {
      display: block;
      width: 188px;
    }

    @media #{$m-xs} {
      display: none;
    }
  }
  .iphone-image-wrapper {
    display: flex;
    position: relative;
    margin-right: 155px;
    align-items: flex-end;
    @media #{$m-sm} {
      display: none;
    }
  }

  .iphone {
    height: 510px;
    overflow: hidden;
  }
  .toothbrush {
    position: absolute;
    top: -80px;
    right: -190px;
  }
  .iphone-image {
    align-self: flex-end;

    @media #{$m-sm} {
      display: none;
    }
  }

  .mobile-app-header {
    color: #494a49;
    max-width: 400px;
    margin-bottom: 24px;

    @media #{$m-sm} {
      font-size: 26px;
      margin-bottom: 17px;
      max-width: 305px;
    }
  }

  .mobile-app-list {
    margin-bottom: 50px;

    @media #{$m-sm} {
      margin-bottom: 24px;
    }
  }

  .slick-slider {
    cursor: url("../images/i-slider-cursor.png"), auto;
    backface-visibility: hidden;

    @media #{$m-xs} {
      margin-bottom: 60px;
    }
  }

  .mobile-app-list-item {
    position: relative;
    padding-left: 20px;
    font-size: 16px;
    color: #35373d;
    line-height: 24px;
    margin-bottom: 10px;

    @media #{$m-sm} {
      font-size: 14px;
      margin-bottom: 10px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #4ACDF1;
    }
  }

  .app-store-btn {
    margin-right: 13px;
  }

  .app-store-btn, .google-play-btn {
    img {
      width: 92px;
      transition: opacity ease .2s;
      &:hover, &:focus {
        opacity: .7;
      }
    }
  }

  .care-products-list {
    display: flex;
    flex-wrap: wrap;

    .care-product {
      margin-left: 36px;
      max-width: calc(33.333333% - 36px);
      font-size: 20px;
      line-height: 1.2;

      &:first-child, &:nth-child(3n + 1) {
        margin-left: 0;
      }

      @media #{$m-sm} {
        margin-left: 30px;
        max-width: 215px;
        font-size: 14px;
      }

      .zoom-wrap {
        overflow: hidden;
        margin-bottom: 23px;
        border-radius: 5px;
      }

      img {
        width: 100%;
        transition: transform ease-in-out .45s;

        @media #{$m-sm} {
          margin-bottom: 16px;
        }
      }

      a {
        display: block;
        color: #35373d;
        text-align: center;
        margin-bottom: 70px;

        p {
          color: #35373d;
          display: inline;
        }

        &:hover {
          p {
            border-bottom: 1px solid #369BEA;
          }
          img {
            transform: scale(1.05);

            @media #{$m-sm} {
              transform: scale(1);
            }
          }
        }

        @media #{$m-sm} {
          margin-bottom: 35px;
        }
      }
    }
    &.slick-slider {
      .slick-list {
        overflow: initial;
      }
      .care-product {
        margin: 0 15px;

        img {
          width: 215px;
        }
      }
    }
  }

  .care-slider {
    display: none;

    @media #{$m-xs} {
      display: block;
    }
  }

  .product-line-header {
    font-size: 26px;
    color: #3a4b79;
    margin-bottom: 20px;
  }

  .product-line-description {
    font-size: 16px;
    color: #35373d;
    margin-bottom: 48px;
  }

  .recommendations-container {
    margin-bottom: 69px;
  }

  .recommendations-slider {
    width: calc(100vw + 37px);
    margin-left: -37px;

    .slick-list {
      overflow: initial;
    }

    @media #{$m-md} {
      margin-left: 0;
    }

    @media #{$m-sm} {
      width: calc(100vw - 20px);
      margin-left: 0;
    }

    .slick-slide {
      margin: 0 13px;

      @media #{$m-sm} {
        margin: 0 10px;
      }
    }
  }

  .recommendations-container-header {
    font-size: 26px;
    color: #3a4b79;
    margin-bottom: 32px;
    text-transform: uppercase;
  }

  .recommendation {
    border-radius: 20px;
    flex-shrink: 0;

    .recommendation-top-icon {
      margin-bottom: 24px;
      height: 100px;

      @media #{$m-sm} {
        height: 81px;
        margin-bottom: 20px;
      }

      @media #{$m-xs} {
        height: 52px;
      }
    }
  }

  .recommendations-header {
    font: 400 26px/1.42 'Roboto Condensed', Arial, sans-serif;
    color: #494a49;

    @media #{$m-sm} {
      font-size: 16px;
    }
  }

  .recommendations-description {
    font-size: 16px;
    line-height: 1.5;
    color: #35373d;

    @media #{$m-sm} {
      font-size: 14px;
    }
  }

  .recommendation {
    padding: 35px 30px 30px 37px;

    @media #{$m-md} {
      padding-left: 22px;
    }

    .recommendations-header {
      margin-bottom: 6px;
    }

    @media #{$m-sm} {
      padding: 25px 35px 35px;
    }
  }

  .right-care-container-header {
    font-size: 28px;
    color: #3a4b79;
    margin-bottom: 27px;
  }

  .right-care-header {
    font: 400 22px/1.13 'Roboto Condensed', Arial, sans-serif;
    margin-bottom: 19px;
    color: #3aa5f2;

    @media #{$m-sm} {
      font-size: 16px;
      margin-bottom: 8px;
    }
  }

  .right-care-slider {
    margin-bottom: 120px;
    width: 100vw;

    .slick-list {
      overflow: initial;
    }

    @media #{$m-sm} {
      width: calc(100vw - 20px);
    }

    .slick-slide {
      margin: 0 50px;

      @media #{$m-sm} {
        margin: 0 30px;
      }
    }
  }

  .right-care {
    flex-shrink: 0;
  }

  .right-care-description {
    font-size: 15px;
    line-height: 1.4;
    color: #35373d;

    @media #{$m-sm} {
      font-size: 14px;
    }
  }

  .glister-smart-sonic {
    min-height: 530px;
    background-image: url('../images/glister-bg.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    &__text {
      margin-right: 150px;
      @media #{$m-sm} {
        margin-right: 50px;
      }
      @media #{$m-xs} {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
      }

    }

    &__container {
      display: flex;
      align-items: center;
    }

    &__title-wrapper {
      margin-bottom: 45px;
    }

    &__title {
      margin-bottom: 15px;
      text-transform: uppercase;
      font-size: 53px;
      font-weight: bold;
      color: #3a4b79;
    }

    &__subtitle {
      text-transform: uppercase;
      color: #3a4b79;
      font-size: 23px;
    }

    &__video {
      display: flex;
      align-items: center;
      &-title {
        margin-left: 25px;
        font-weight: bold;
        font-size: 23px;

        text-transform: uppercase;
        a {
          color: #3a4b79 !important;
        }
      }
    }

    &__image {
      height: 490px;
      overflow: hidden;
      @media #{$m-xs} {
        display: none;
      }
    }
  }

  .glister-bussines {
    padding: 80px 0;
    &__title {
      color: #3a4b79;
      text-transform: uppercase;
      font: bold 28px/1.31 'Roboto Condensed', Arial, sans-serif;
    }
    &__subtitle {

    }
  }

  .image-gallery {
    margin: 0;
    &__item {
      position: relative;
      padding: 0;
      max-height: 400px;
      img {
        max-height: 400px;
      }
      &-btn {
        position: absolute;
        bottom: 15px;
        right: 15px;
        &::after {
          display: none;
        }
      }
    }
  }

  .glister-videos {
    display: flex;
    padding: 15px;
    margin-bottom: 60px;
    @media #{$m-xs} {
      flex-wrap: wrap;
    }
    &__item {
      width: 33.3333%;
      margin-right: 20px;
      @media #{$m-xs} {
        width: 100%;
        margin: 0 0 40px 0;
      }
      &-image {
        position: relative;
        margin-bottom: 15px;
        img {
          width: 100%;
        }
      }
      &:last-child {
        margin: 0;
      }
      &-title {
        font-size: 20px;
        color: #35373d;
      }
    }
  }

  .accordion {
    margin-top: 50px;
    &__title {
      display: inline-block;
      cursor: pointer;
      font-size: 22px;
      color: #3aa5f2;
      text-decoration: underline;
      text-transform: unset;
      font-weight: 100;
      margin-bottom: 20px;
      text-underline-position: under;
    }
    p {
      margin-bottom: 25px;
    }
  }

  .presentations-wrapper {
    display: flex;
    padding: 15px;
    margin-bottom: 60px;
    @media #{$m-xs} {
      flex-wrap: wrap;
    }
  }
  .presentations-item {
    width: 50%;
    padding-right: 50px;
    display: flex;
    @media #{$m-xs} {
      width: 100%;
      margin-bottom: 40px;
    }
    .btn-container {
      padding: 0;
    }
    .buy-btn {
      margin-right: 10px;
      &::after {
        display: none;
      }
    }
    &__title {
      margin-bottom: 20px;
      font-size: 25px;
      color: #35373d;
    }

    &__image {
      margin-right: 20px;
    }

    &__btn {
      display: flex;
      align-items: center;
      span {
        opacity: .5;
      }
    }
  }

  .w-420 {
    width: 420px !important;
  }
  .questions {
    margin-top: 60px;
  }
}