//responsive
$m-xs: 'screen and (max-width: 767px)';
$m-sm: 'screen and (max-width: 991px)';
$m-md: 'screen and (max-width: 1199px)';
$m-lg: 'screen and (max-width: 1919px)';
$m-xl: 'screen and (min-width: 1920px)';

//gradients
.blue-gradient {
  background: linear-gradient(45deg, rgba(#c1e8ff, .4) 0%, rgba(#cfffeb, .4) 100%);
  background-color: #c0e7ff;
}

.skin-gradient {
  background: linear-gradient(45deg, rgba(#ffe2e5, .4) 0%, rgba(#f4e3ff, .4) 100%);
  background-color: #fdface;
}

.purple-gradient {
  background: linear-gradient(45deg, rgba(#d0daff, .4) 0%, rgba(#fce6ff, .4) 100%);
  background-color: #d2d7fd;
}

.green-gradient {
  background: linear-gradient(-125deg, rgba(#aff1c0, .45) 0%, rgba(#dff1b0, .45) 100%);
  background-color: rgba(#9eeeb1, .7);
}

.yellow-gradient {
  background-color: rgba(255, 246, 186, 0.7);
}

.grey-gradient {
  background-color: rgba(231, 231, 231, 0.7);
}

//Widths blocks gradients
.w-340 {
  width: 340px !important;

  @media #{$m-sm} {
    width: 280px !important;
  }

  @media #{$m-xs} {
    width: 220px !important;
  }
}

.w-350 {
  width: 350px !important;

  @media #{$m-sm} {
    width: 305px !important;
  }

  @media #{$m-xs} {
    width: 240px !important;
  }
}

.w-370 {
  width: 370px !important;

  @media #{$m-sm} {
    width: 300px !important;
  }

  @media #{$m-xs} {
    width: 240px !important;
  }
}

.w-620 {
  width: 620px !important;

  @media #{$m-xs} {
    width: 450px !important;
  }

  @media #{$m-xs} {
    width: 300px !important;
  }
}

.w-450 {
  width: 450px !important;

  @media #{$m-sm} {
    width: 365px !important;
  }

  @media #{$m-xs} {
    width: 290px !important;
  }
}

.w-460 {
  width: 460px !important;

  @media #{$m-sm} {
    width: 375px !important;
  }

  @media #{$m-xs} {
    width: 300px !important;
  }
}

.w-650 {
  width: 650px !important;

  @media #{$m-sm} {
    width: 375px !important;
  }

  @media #{$m-xs} {
    width: 300px !important;
  }
}

// width text-blocks

.w-t-300 {
  width: 300px !important;

  @media #{$m-xs} {
    width: 320px !important;
  }
}

.w-t-270 {
  width: 270px !important;

  @media #{$m-xs} {
    width: 320px !important;
  }
}

.w-t-370 {
  width: 370px !important;

  @media #{$m-xs} {
    width: 320px !important;
  }
}

.w-t-520 {
  width: 520px !important;

  @media #{$m-sm} {
    width: 400px !important;
  }

  @media #{$m-xs} {
    width: 320px !important;
  }
}