body {
  font-family: 'PT Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  font: bold 32px/1.31 'Roboto Condensed', Arial, sans-serif;
  text-transform: uppercase;
}