{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Roboto|Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/app.css">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "shared/app-icons.html" %}
    {% block head %}{% endblock %}
  </head>
  <body id="glister">
    {% block content %}{% endblock %}
    {% block javascript %}
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <!--<script src="javascripts/slick-1.8.1/slick/slick.min.js"></script>-->
      <script src="javascripts/app.js"></script>
    {% endblock %}
  </body>
</html>
